<ul>
  <li>
    <%= link_to root_path do %>
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
            Home
        </span>
    <% end %>
  </li>
</ul>

<ul class='logout'>
  <li>
    <%= link_to new_user_session_path do %>
      <i class="fa fa-power-off fa-2x"></i>
      <span class="nav-text">
          Login
      </span>
    <% end %>
  </li>  
</ul>
