<p class='caption'>
  Creato
</p>
<div class="postdate">
  <div class="month">
    <p><%= job.created_at_month %></p>
  </div>
  <div class="day">
    <p><%= job.created_at_day %></p>
  </div>
  <div class="year">
    <p><%= job.created_at_year %></p>
  </div>
  <div class="time">
    <p><%= job.created_at_time %></p>
  </div>
</div>