<li class='job-card'>
  <div class='job-title'>
    <p><%= job.title %></p>
  </div>

  <div class='record d-flex justify-content-end'>
    <%= render partial: "jobs/partials/new_period_form", locals: {job: job} %>
  </div>
  <%= link_to job_path(job), class: 'job-link' do %>
    <i class="fas fa-folder fa-3x"></i>
  <% end %>
  <div class='last-updated'>
    <%= render partial: "jobs/partials/last_updated", locals: {job: job} %>
  </div>
</li>
