<%= simple_form_for(job.periods.new) do |f| %>
  <%= f.button :button do %>
    <div class='d-flex justify-content-center align-items-center button button-circle button-caution'>
      <i class="fas fa-play"></i>
    </div>
  <% end %>
<% end %>
